@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  overflow: hidden;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../img/backgroundIndex.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-color: #f6f7f7;
}
nav {
  background-color: #2c3e50;
  color: #ecf0f1;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 5px rgba(151, 149, 149, 0.1);
}
nav a {
  color: #ecf0f1;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 10px;
}
nav a:hover {
  color: #3498db;
}
.title {
  font-size: 2rem;
  color: #ffffff;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  margin: 20px 0;
  text-align: center;
}
header {
  color: #98999a;
  font-size: 1.2rem;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  text-align: center;
}
.container {
  width: 100%;
  height: 100vh;
  display: flex;
  margin: 20px auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
footer {
  background-color: #2c3e50;
  color: #ecf0f1;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 5px rgba(151, 149, 149, 0.1);
}
